@charset "UTF-8";
body {
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	color: #000;
}

.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	background-color: #FFF;
	margin: 0 auto; 
}

.header {
	background-color: #FFF;
	color:#FFF;
	padding:10px;
}

.content {
	padding: 10px 0;
}

.footer {
	padding: 10px 0;
	background-color: #FFF;
}
