<?php

// rename file to basepdo.php

$host 		= 'localhost';
$DBuser		= 'pba';
$DBpassw	= '123';
$DB	        = 'collabmap';


try {
  $db = new PDO('mysql:host='.$host.';dbname='.$DB, $DBuser, $DBpassw,
                array(PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES utf8", PDO::ATTR_EMULATE_PREPARES => false, PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION));
} catch(PDOException $ex) {
  echo $ex->getMessage();
}



?>
